body {
    background-image: url("img_tree.gif"), url("paper.gif");
    background-repeat: no-repeat, repeat;
    background-color: #fff8e7;
  }
  h1 {
    font-size: 200;
    color: black;
    text-align: center;
    font-family: verdana;
  }
  p {

    text-align: center;
    font-family: verdana;
  }
  label, div {
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: verdana;
    font-size: 500;
  }
  
  input, button {
    text-align: center;
    font-family: verdana;
    font-size: 500;
  }